.homePage {
    padding: 20px;
    margin: 50px 0;
    background-color: #f6f6f6;
    border-radius: 25px;

    display: flex;
    flex-flow: row wrap;
}

.homePage article {
    position: relative;
    display: flex;
    flex-flow: row;
    margin: 25px;

    height: 340px;
    width: 340px;
    border-radius: 10px;
    background: linear-gradient(
        180deg,
        rgba(255, 96, 96, 1) 0%,
        rgb(174, 37, 37) 100%
    );
}

/* .homePage article:hover {
} */

article > .imgCard {
    position: relative;
    z-index: 2;
    height: 340px;
    width: 340px;
    border-radius: 10px;
    object-fit: cover;
    /* background-color: #ff6060; */
    background: linear-gradient(
        180deg,
        rgb(12, 7, 7) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
}

article > .titleLocation {
    position: absolute;
    bottom: 30px;
    left: 15px;
    width: 100px;
    color: #fff;
    font-weight: 500;
    z-index: 3;
}

@media screen and (min-width: 0px) and (max-width: 430px) {
    .homePage {
        padding: 0;
        margin: 0;
        background-color: #fff;
        border-radius: 25px;
    }

    .homePage article {
        margin: 15px 0;

        height: 255px;
        width: 100%;
    }

    article > .imgCard {
        height: 255px;
        width: 100%;

        background: linear-gradient(
            180deg,
            rgb(12, 7, 7) 0%,
            rgba(0, 0, 0, 0.5) 100%
        );
    }

    article > .titleLocation {
        font-size: 18px;
        font-weight: 400;
    }
}

/* @media screen and (min-width: 431px) and (max-width: 992px) {
    .homePage {
    }

    .homePage article {
    }

    article img {
    }
} */

/* body {
    background-color: orangered;
} */

/* @media screen and (min-width: 0px) and (max-width: 992px)  */
/* @media screen and (min-width: 769px) and (max-width: 992px) */
/* @media screen and (min-width: 0px) and (max-width: 768px)  */
