/* main {
    margin: 0 100px;
} */

footer {
    padding: 20px;
    height: 150px;
    background-color: #000;
    display: grid;
    place-items: center;
    /* position: absolute;
    bottom: 0;
    right: 0;
    left: 0; */
}

footer > span {
    color: #fff;
    font-size: 24px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    footer > span {
        font-size: 12px;
    }
}
