* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.header {
    height: 70px;
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid orange; */
}

nav {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    /* border: 1px solid black; */
}

li {
    padding: 15px;
    width: 100%;
    color: #ff6060;
}

li:hover,
li:focus,
.nav-active {
    color: #ff6060;
    text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    main {
        margin: 20px;
    }

    .header {
        height: 70px;
        margin: 30px 20px 30px;
        align-items: center;
    }

    .header > img {
        width: 50%;
    }

    nav {
        width: 50%;
        justify-content: flex-end;
    }

    nav li {
        font-size: 12px;
        padding: 5px;
    }
}
