* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.header {
    height: 70px;
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
}

/* .header
.header > img
.header > .containerNav
.containerNav
.containerNav > .linkActive
.containerNav > .link */

.header > img {
    max-width: 220px;
}
.containerNav {
    display: flex;
    align-items: center;
}

.linkActive,
.link {
    font-size: 24px;
    color: var(--colorPrimary);
    text-align: end;
    min-width: 140px;
    font-weight: 500;
}

.linkActive {
    text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 530px) {
    main {
        margin: 15px;
    }

    .header {
        height: 60px;
        margin: 20px 15px;
        align-items: center;
    }

    .header > img {
        width: 40%;
    }

    .containerNav {
        width: 60%;
        justify-content: flex-end;
    }

    .linkActive,
    .link {
        font-size: 14px;
        text-transform: uppercase;
        min-width: 89px;
    }
}

@media screen and (min-width: 531px) and (max-width: 992px) {
    main {
        margin: 20px;
    }

    .header {
        height: 70px;
        margin: 30px 20px 55px;
        align-items: center;
    }

    .header > img {
        width: 40%;
    }

    .containerNav {
        width: 50%;
        margin: 0;
        justify-content: flex-end;
    }

    .linkActive,
    .link {
        font-size: 20px;
        text-transform: uppercase;
    }
}

/* *********************************************************** */

/* * {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.header {
    height: 70px;
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
}

.header > img {
    max-width: 220px;
}
nav {
    display: flex;
    align-items: center;
}

.containerNav {
    display: flex;
}

.dotNavigation {
    font-size: 24px;
    padding: 15px;
    width: 100%;
    color: var(--colorPrimary);
}

.dotNavigation:hover,
.dotNavigation:focus,
.nav-active {
    color: var(--colorPrimary);
    text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 530px) {
    main {
        margin: 15px;
    }

    .header {
        height: 60px;
        margin: 20px 15px;
        align-items: center;
    }

    .header > img {
        width: 40%;
    }

    nav {
        width: 55%;
        justify-content: flex-end;
    }

    nav .dotNavigation {
        font-size: 14px;
        padding: 5px 0 5px 14px;
        text-transform: uppercase;
    }
}

@media screen and (min-width: 531px) and (max-width: 992px) {
    main {
        margin: 20px;
    }

    .header {
        height: 70px;
        margin: 30px 20px 55px;
        align-items: center;
    }

    .header > img {
        width: 40%;
    }

    nav {
        width: 50%;
        justify-content: flex-end;
    }

    nav .dotNavigation {
        font-size: 20px;
        padding: 15px;
        text-transform: uppercase;
    }
} */
